<h2 class="title">EditTodo</h2>
<div class="mat-dialog-content">

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input type="text" [ngModel]="todo.text" name="text" placeholder="Type todo text to edit..." class="form-control">
            </div>
        </div>

        <br>

        <div class="field is-grouped">
            <div class="control">
                <button type="button" (click)="close()" class="btn btn-lg btn-outline-secondary ">Cancel</button>
            </div>

            <div class="control">
                
                <button type="submit" class="btn btn-lg btn-outline-success" id="btn-save">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
